<%- include('partials/header') %>

<div class="container">
<div class="jumbotron centered jumbo jumbo-home">
 
  <div class="row justify-content-center">
    <h1 class="display-3">Tell me your anonymous Secret</h1>
    <i class="fas fa-lock fa-6x"></i>
    
    <p class="lead">Need to get something off your chest? Share your anonymous secrets</p>
   
  </div>

     <hr>
     <div class="row justify-content-center">
      <a class="btn btn-light btn-register btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-lg btn-login" href="/login" role="button">Login</a>

     </div>
     <a class="btn btn-lg btn-dark btn-secret" href="/secrets" role="button">Secrets</a>

  </div>
</div>

<%- include('partials/footer') %>
