<%- include('partials/header') %>

<div class="jumbotron text-center jumbo">
  <div class="container">

    <h1 class="display-3">Shhhh! I won't tell anyone if you dont...</h1>

    <i class="fas fa-lock fa-6x"></i>
    
    <div class="row justify-content-center">
    <% secrets.forEach(function(secret){ %>
      <div class="col-md-auto secret-card">
        <h1 class="secret-text"><%=secret.secret%></h1>
      </div>
    <% }) %>
  </div>
    <hr>
    
    <a class="btn btn-light btn-lg" href="/logout" role="button">Log Out</a>
    <a class="btn btn-dark btn-lg" href="/submit" role="button">Tell a Secret</a>
  </div>
</div>

<%- include('partials/footer') %>
